.metadata/.lock
.metadata/.log
.metadata/.plugins/com.android.ide.eclipse.adt/palette-preview-r16b-18-apptheme-37inwvganexusone/preview.properties
.metadata/.plugins/com.android.ide.eclipse.adt/palette-preview-r16b-18-apptheme-37inwvganexusone/TabHost.png
.metadata/.plugins/com.android.ide.eclipse.adt/palette-preview-r16b-18-apptheme-37inwvganexusone/Switch.png
.metadata/.plugins/com.android.ide.eclipse.adt/palette-preview-r16b-18-apptheme-37inwvganexusone/TabWidget.png
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.core.resources/.history/36/602211bda35700141710e24125186eb1
.metadata/.plugins/org.eclipse.core.resources/.history/3c/9028caf3a55700141710e24125186eb1
*.index
*.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Emmanutt.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
Emmanutt/bin/*.*
Emmanutt/bin/classes/com/sakisakisoftware/emmanutt/*.*
Emmanutt/bin/classes/com/sakisakisoftware/sakiutil/*.*
Emmanutt/bin/res/crunch/drawable-hdpi/*.*
Emmanutt/bin/res/crunch/drawable-mdpi/*.*
Emmanutt/bin/res/crunch/drawable-xhdpi/*.*
Emmanutt/bin/res/crunch/drawable-xxhdpi/*.*
Emmanutt/bin/dexedLibs/*.*
Emmanutt/gen/com/sakisakisoftware/emmanutt/*.*
Emmanutt/gen/com/sakisakisoftware/sakiutil/*.*
Emmanutt/res/drawable-hdpi/Thumbs.db
Emmanutt/res/drawable-xhdpi/Thumbs.db
Emmanutt/res/drawable-xxhdpi/Thumbs.db
Emmanutt/res/drawable/Thumbs.db
SakiUtil/bin/classes/com/sakisakisoftware/sakiutil/*.*
SakiUtil/bin/*.*
SakiUtil/bin/res/crunch/drawable-hdpi/*.*
SakiUtil/bin/*.*
SakiUtil/gen/com/sakisakisoftware/sakiutil/*.*
SakiUtil/bin/res/crunch/drawable-mdpi/ic_launcher.png
SakiUtil/bin/res/crunch/drawable-xhdpi/ic_launcher.png
